<ng-container *ngIf="!loading && !error">
  <ng-container *ngIf="items.length; else elseTemplate">
    <div class="card-columns m-5 animated fadeIn">
      <div (click)="verArtista(item);" class="card puntero" *ngFor="let item of items">
        <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text" *ngIf="item.artists">
            <span class="badge badge-pill badge-primary" *ngFor="let artista of item.artists">{{artista.name}}</span>
          </p>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div *ngIf="criteria.length">
      <app-alert [alertType]="'default'" [headText]="" [message]="'Sin resultados de busqueda para '+criteria"></app-alert>
    </div>
  </ng-template>
</ng-container>
