<h4>Formularios
  <small>data</small>
</h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios();">

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-8">
      <input class="form-control" type="text" placeholder="Usuario" formControlName="username" [ngClass]="{'is-invalid':forma.controls.username.invalid && forma.controls.username.touched}">
      <div class="invalid-feedback">Usuario invalido</div>
    </div>
  </div>
  <div formGroupName="nombreCompleto">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [ngClass]="{'is-invalid':forma.get('nombreCompleto.nombre').invalid && forma.get('nombreCompleto.nombre').touched}">
        <div class="invalid-feedback">Nombre invalido</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control" type="text" placeholder="Apellido" formControlName="apellido" [ngClass]="{'is-invalid':forma.get('nombreCompleto.apellido').invalid && forma.get('nombreCompleto.apellido').touched}">
        <div class="invalid-feedback">Apellido invalido</div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">
      <input class="form-control" type="email" placeholder="Correo electrónico" formControlName="correo" [ngClass]="{'is-invalid':forma.controls.correo.invalid && forma.controls.correo.touched}">
      <div class="invalid-feedback">Correo invalido</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password1</label>
    <div class="col-md-8">
      <input class="form-control" type="password" placeholder="Contraseña" formControlName="password1" [ngClass]="{'is-invalid':forma.controls.password1.invalid && forma.controls.password1.touched}">
      <div class="invalid-feedback">Contraseña invalida</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password 2</label>
    <div class="col-md-8">
      <input class="form-control" type="password" placeholder="Repetir contraseña" formControlName="password2" [ngClass]="{'is-invalid':forma.controls.password2.invalid && forma.controls.password2.touched}">
      <div class="invalid-feedback">Contraseña invalida</div>
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8" formArrayName="pasatiempos">
      <div *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i=index">
        <input type="text" class="form-control" [formControlName]="i">
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="agregarPasatiempo();">Nuevo</button>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
  {{forma.valid}}
  <br>
  {{forma.status}}
</form>