<div class="row">
  <div class="col-md-4">
    <h3>
      Seleccione los archivos
    </h3>
    <div (mouseSobre)="mouseSobre($event);" [archivos]="archivos" [ngClass]="{'file-over': estaSobreElemento}" appNgDropFile
      class="well drop-zone">
      <h4>
        Deje caer los archivos aqui
      </h4>
      <img src="assets/drop-images.png" alt="">
    </div>
  </div>
  <div class="col-md-8">
    <h4>
      Cargar archivos
    </h4>
    <button (click)="cargarImagenes()" class="btn btn-success" [disabled]="archivos.length===0">
      Cargar a firebase
    </button>
    <button class="btn btn-danger" (click)="limpiarArchivos()">
      Limpiar
    </button>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre del archivo</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{'text-green': archivo.progreso>=100}">{{archivo.nombreArchivo}}</td>
          <td>{{archivo.archivo.size /1024 /1024 |number:'.2-2'}} Mb</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width':archivo.progreso + '%'}" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
