<div class="heroe-component">
  <h1>{{heroe.nombre | uppercase}}
    <small>({{heroe.aparicion | date:'y'}})</small>
  </h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" [src]="heroe.img" [alt]="heroe.nombre" />
      <br>
      <br>
      <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
      <h3>{{heroe.nombre}}</h3>
      <hr>
      <p>{{heroe.bio}}</p>
      <div style="width: 264;height: 264;">
        <img *ngIf="heroe.casa=='Marvel'" src="assets/img/marvel.png" class="img-logo">
        <img *ngIf="heroe.casa=='DC'" src="assets/img/dc_universe_logo.jpg" class="img-logo">
      </div>
    </div>
  </div>
</div>
