<div class="container" style="margin-bottom: 20px;margin-top: 20px;">
  <h1>
    Graficos dinamicos <small>Angular</small>
  </h1>

  <app-linea></app-linea>
  <h2>Grafico de barras</h2>
  <app-bar-chart-demo></app-bar-chart-demo>
  <div style="margin-bottom:20px;">
    <h1>Grafico de dona</h1>
    <app-doughnut-chart-demo></app-doughnut-chart-demo>
  </div>
  <h2>Grafico de radar</h2>
  <app-radar-chart-demo></app-radar-chart-demo>
  <h2>
    Grafico de pie
  </h2>
  <app-pie-chart-demo></app-pie-chart-demo>
  <h2>Grafico polar</h2>
  <app-polar-area-chart-demo></app-polar-area-chart-demo>
  <h2>Demo base</h2>
  <app-base-chart-demo></app-base-chart-demo>
</div>