<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static"
  data-keybord="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <ng-container *ngIf="video">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{video.title}}</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>-->
        </div>
        <div class="modal-body">
          <iframe width="100%" height="300" [src]="video.resourceId.videoId | videoYoutube" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar Modal</button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
