<div class="table-responsive">
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Casa</th>
        <th>Bio</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let k of heroes | keys'>
        <td>{{k}}</td>
        <td>{{heroes[k].nombre}}</td>
        <td>{{heroes[k].casa}}</td>
        <td>{{heroes[k].bio}}</td>
        <td>
          <div class="row">
            <div class="col-md-4">
              <button [routerLink]="['/heroe',k]" class="btn btn-outline-success">Editar</button>
            </div>
            <div class="col-md-4">
              <!--<button data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-danger">Borrar</button>-->
              <button (click)="borrarHeroe(k);" class="btn btn-outline-danger">Borrar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>