<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button class="btn btn-info" (click)="alerta='alert-info'">alerta info</button>
<button class="btn btn-info" (click)="alerta='alert-success'">alerta success</button>
<button class="btn btn-info" (click)="alerta='alert-danger'">alerta danger</button>

<br>
<br>
<h3 [ngClass]="{'text-danger':propiedades.danger}">
  Hola mundo
</h3>

<h3>Proceso asyncrono</h3>
<button [disabled]="loading" type="button" name="button" class="btn btn-primary" (click)="ejecutar()">
  <i [ngClass]="{'fa-save': !loading,'fa-sync-alt fa-spin':loading}" class="fa"></i>
  <span *ngIf="!loading">Guardar cambios</span>
  <span *ngIf="loading">Espere por favor</span>
</button>
