<div class="row">
  <div class="col-md-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button RouterLinkActive="active" [routerLink]="['nuevo']"  type="button" class="btn btn-secondary">Nuevo</button>
      <button RouterLinkActive="active" [routerLink]="['editar']"  type="button" class="btn btn-secondary">Editar</button>
      <button RouterLinkActive="active" [routerLink]="['detalle']" type="button" class="btn btn-secondary">Detalle</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>